PROJECT_NAME="Qantu Local Backend"
VERSION="1.0.0"

# Cambiar para cuando usemos IP de red local (ej. http://192.168.1.50:11434)
OLLAMA_BASE_URL="http://localhost:11434"
OLLAMA_MODEL="llama3.2:3b"

DEBUG=True